# {{ ansible_managed }}
[Interface]
Address = {{ wireguard.client.vpn_addr }}/{{ wireguard.net | regex_replace('[^/]+/(\d+)', '\\1') }}
PrivateKey = {{ wireguard.client.sk }}

PostUp = ping -c1 10.0.0.1

[Peer]
PublicKey = {{ wireguard.server.pk }}

Endpoint = {{ hostvars['vpn_server']['ansible_host'] }}:{{ wireguard.server.port }}

AllowedIPs = {{ '0.0.0.0/0' if wireguard.internet else wireguard.server.net }}

PersistentKeepalive = 25
